
@{
    ViewData["Title"] = "Index";
}

<h3>Choississez votre type de recherche</h3>

<ul class="navbar-nav flex-grow-1">

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Viewer" asp-action="ListEdition">Recherche par édition</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Viewer" asp-action="ListCard">Recherche avancée</a>
    </li>

</ul>

