@model ProjectMagic_ASP.Models.Forms.EditionForm

@{
    ViewData["Title"] = "SearchByEditionName";
}

<h3>Recherche par nom d'édition</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchByEditionName">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label class="control-label"> Nom de l'édition à rechercher'</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Rechercher" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

