@model ProjectMagic_ASP.Models.Forms.CardForm

@{
    ViewData["Title"] = "Update";
    Layout = "../Shared/_AdminLayout.cshtml";
}

<h4>Modification de la carte</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="CardName" class="control-label"></label>
                <input asp-for="CardName" class="form-control" />
                <span asp-validation-for="CardName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PS" class="control-label"></label>
                <input asp-for="PS" class="form-control" />
                <span asp-validation-for="PS" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Premium" /> @Html.DisplayNameFor(model => model.Premium)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EditionId" class="control-label"></label>
                <input asp-for="EditionId" class="form-control" />
                <span asp-validation-for="EditionId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RarityId" class="control-label"></label>
                <input asp-for="RarityId" class="form-control" />
                <span asp-validation-for="RarityId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ColorId" class="control-label"></label>
                <input asp-for="ColorId" class="form-control" />
                <span asp-validation-for="ColorId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TypeId" class="control-label"></label>
                <input asp-for="TypeId" class="form-control" />
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SousTypeId" class="control-label"></label>
                <input asp-for="SousTypeId" class="form-control" />
                <span asp-validation-for="SousTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
