@{
    ViewData["Title"] = "Home Page";
}

<div class="align-middle">
    <div class="text-center ">
        <h1 class="display-4">Cartes Magic The Gathering</h1>
        <p>Projet de fin de formation - Maud Perot - Technofutur TIC</p>
    </div>

    <div class="text-center">

        <img src="/Image/White.png" class="rounded" />
        <img src="/Image/Red.png" class="rounded" />
        <img src="/Image/Green.png" class="rounded" />
        <img src="/Image/Blue.png" class="rounded" />
        <img src="/Image/Black.png" class="rounded" />
    </div>
</div>

